.content {
  width: 1000px;
  min-height: 650px;
  background-color: rgba(var(--accent), 1);
  margin: 30px auto;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  gap: 30px;
  flex-direction: column;

  h3,
  p {
    color: rgba(var(--text), 1);
  }

  .title {
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 10px;
  }

  .issue {
    input {
      width: 400px;
    }
  }

  .send {
    width: 120px;
  }

  input[type="text"] {
    border: 1px solid rgba($color: #000000, $alpha: 0.4);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--background-input);
    color: rgba(var(--text), 1);

    &:focus {
      outline: none;
      border: 1px solid rgba($color: #000000, $alpha: 0.8);
    }
  }

  textarea {
    background-color: var(--background-input);
    color: rgba(var(--text), 1);
  }
}
