.content {
  width: 100%;
  min-height: 800px;
  background-color: var(--background-primery);
  display: flex;
  justify-content: center;

  .container {
    margin-top: 50px;
    min-height: 1000px;
    display: flex;
    gap: 20px;
    flex-direction: column;

    h2,
    p {
      color: rgba(var(--text), 1);
    }

    .grid-box {
      position: relative;
      margin-bottom: 100px;
      width: 820px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 20px 20px;
      grid-auto-flow: row;
      grid-template-areas:
        ". ."
        ". .";

      .empty {
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        top: 200px;
        left: 280px;

        @media (min-width: 1900px) {
          top: 300px;
        }

        .img {
          margin-bottom: 20px;
          width: 100px;
          height: 100px;
          color: rgba(var(--text), 1);
        }
      }
    }
  }
}
