* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bgc: #8f00ff;
}

body {
  background-color: var(--background-primery);
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #dedede;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #7b7b7b;
    border-radius: 10px;
    border: 1.5px solid #dedede;
  }
}

textarea {
  border-radius: 5px;
  padding: 20px;
  border: 1px solid rgba($color: #000000, $alpha: 0.4);

  &:focus {
    outline: none;
    border: 1px solid rgba($color: #000000, $alpha: 0.8);
  }

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #7b7b7b;
    border-radius: 10px;
  }
}
